$color: blue;
$bgColor:#00152b;
$fs12: 12px;
$fs24: 24px;


// color
.c_white{color: white;}

// font size
.fs_20{font-size: 20px;}
.fs_24{font-size: 24px;}
.fs_30{font-size: 30px;}
.fs_35{font-size: 35px;}
.fs_40{font-size: 40px;}

// 
.fi_m{vertical-align:middle}

// font weight
.fw_700{font-weight: 700;}

// flex
.fja_c_c{display: flex;justify-content: center;align-items: center;}
.fja_sb_c{display: flex;justify-content: space-between;align-items: center;}
// margin
.mt_12{margin-top: 12px;}

// padding
.pt_15{padding-top: 15px;}
.pt_20{padding-top: 20px;}
.pt_30{padding-top: 30px;}
.pt_40{padding-top: 40px;}
.pt_50{padding-top: 50px;}
.pl_20{padding-left: 20px;}
.pl_30{padding-left: 30px;}
.pr_20{padding-right: 20px;}
.pr_30{padding-right: 30px;}
.pb_15{padding-bottom: 15px;}

// button
.button_w_100{width: 100%;}